
   
    
    .wrapper {
        width: 100vw;
        height: 175vh;
        position: relative;
    }
    
    .header {
        width: 100vw;
        height: 35vh;
        background-color: 
        #FF005A;
        
    }
    
    .texketLeft{
     font-size: 10px;
       left: 343px;
       font-weight: 600;
color: #ff4000;
padding: 3px;
background-color: #f6baa1;
border-radius:1 px solid black
    }
    
    .logo {
        position: absolute;
        top: 40px;
        left: 60px;
    }
    
    .header .logo img {
        width: 60px;
        height: 87px;
    }
    
    
    
    
    
    .navbar {
        display: flex;
        flex-direction: column;  background-color: #FF005A;
        align-items: center; 
         width: 100vw;
         overflow-x: hidden;
         margin-left: -20px;
      }
       
      .logo {
        width: 100px;  margin-bottom: 1rem;
      }
      
      .navMenu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;  margin-bottom: 1rem;
      }
      
      .navMenu li {
        margin-right: 1rem;
      }
      
      .navMenu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 15px;
      }
      
      .navMenu a:hover {
        color: #000;
      }
      
      .textContainer {
         padding: 1rem;
        text-align: center;
      }
    
      .para1{
        color: white;
        font-family: "Khand", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
      }
      
    
    .body {
        position: relative;
        width: 65vw;
        height: 100vh;
        margin: auto;
    }
    
    .ticketContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .ContainerTicket {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }
    
    .ticketHeader {
       

        display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
    }
    
    .ticketHeader h2 {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    
    .ticketContainer p {
        color: #333;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.6px;
    }
    
    .price {
      margin-right: 30px;

        margin-top: .2rem;
    }
    
    .numberoftickets {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 30px;
    }
    
    select {
        /* position: absolute;
        margin-left: 48rem; */
        border: 1px solid #767676;
        background: #EFEFEF;
    }
    
    .silver {
        padding-top: 25px;
    }
    
    
    .multiply {
        position: absolute;
        color: #000;
        margin-left: 46rem;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }
    
    .gold1 p {
        width: 19rem;
    }
    
    .gold1 h2 {
        white-space: nowrap;
    }
    
    .diamond h2 {
        white-space: nowrap;
    }
    
    .diamond p {
        width: 19rem;
    }
    
    .fanpit .price {
        /* margin-left: 33.3rem; */
    }
    
    .gold1 .price {
        /* margin-left: 15.5rem; */
    }
    
    .diamond .price {
        /* margin-left: 19.7rem; */
    }
    



    
    .finalprice {
        margin-left: 43rem;
        white-space: nowrap;
    }
    
    .checkoutBtn a.disabled {
        position: absolute;
        margin-top: 4rem;
        margin-left: 41rem;
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        border: 2px solid grey;
        color: #ffffff;
        background-color: grey;
        cursor: not-allowed;
        pointer-events: none;
    }
    
    .checkoutBtn a {
        background-color: #ffffff;
        position: absolute;
        margin-top: 4rem;
        margin-left: 41rem;
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        border: 2px solid #008000;
        color: #000000;
    }
    
    
    
    
    
      
      .redbar {
        background-color: #FF005A;
        height: 50px; 
        width: 100%; 
        margin-top: 150px;
      }
      
      .footer {
        background-color: #f0f0f0;
        padding: 1rem 2rem;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
      }
      
      .logoContainer {
        display: flex;
      }
      
      .logoContainer img {
        margin-right: 1rem;
      }
      
      .footer p {
        margin: 0; 
      }
      
      .totel_box{
        
      }

      .totleText{
        color: #000;
font-family: Inter;
font-size: 20px;
font-weight: 600;
position: absolute;
margin-top: 1rem;
      }
     

      
.total{
	margin-top: 20px;
}
